<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button class="nav-button" (click)=" mudarCurrentProduto()" >Produto  <span  class="sr-only" *ngIf="produtoCurrent">(current)</span></button>
        <button class="nav-button" (click)=" mudarCurrentCategoria()" >Categoria <span  class="sr-only" *ngIf="categoriaCurrent">(current)</span></button>
      </div>
    </div>
  </nav>
  <app-produto-tabela *ngIf="produtoCurrent"></app-produto-tabela>
  <app-categoria-tabela  *ngIf="categoriaCurrent"></app-categoria-tabela>

