<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
        <a ngbNavLink>Produtos</a>
        <ng-template ngbNavContent>
            <router-outlet></router-outlet>
            
            <app-produto-tabela></app-produto-tabela>
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Categorias</a>
        <ng-template ngbNavContent>
            <router-outlet></router-outlet>
            
            <app-categoria-tabela></app-categoria-tabela>
        </ng-template>
       
    </li>
</ul>
<div [ngbNavOutlet]="nav"></div>